<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calmen.mathtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathTest"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".online_service.LoadImagePixabay"
            android:exported="true" />
        <activity
            android:name=".test_history.send_email.SendEmail"
            android:exported="true" />
        <activity
            android:name=".test_history.ViewTestHistory"
            android:exported="true" />
        <activity
            android:name=".test_history.TestHistory"
            android:exported="true" />
        <activity
            android:name=".timer.CountdownTimer"
            android:exported="true" />
        <activity
            android:name=".view_list.ViewStudentDetails"
            android:exported="true" />
        <activity
            android:name=".online_service.LoadTestQuestion"
            android:exported="true" />
        <activity
            android:name=".take_test.StudentSelection"
            android:exported="true" />
        <activity
            android:name=".delete_student.DeleteStudent"
            android:exported="true" />
        <activity
            android:name=".edit_list.edit_photos.browse_online.BrowsePictureOnlineForEdit"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditPhoto"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditNumberAttribute"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditEmail"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditEmailAttribute"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditPhoneNo"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditNameAttribute"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditSingleStudent"
            android:exported="true" />
        <activity
            android:name=".edit_list.EditStudents"
            android:exported="true" />
        <activity
            android:name=".registration.profile_picture.browse_online.BrowsePictureOnline"
            android:exported="true" />
        <activity
            android:name=".view_list.ViewStudents"
            android:exported="true" />
        <activity
            android:name=".registration.phone_number.PhoneNumberRegistration"
            android:exported="true" />
        <activity
            android:name=".registration.ContactRegistration"
            android:exported="true" />
        <activity
            android:name=".registration.ManualRegistration"
            android:exported="true" />
        <activity
            android:name=".registration.profile_picture.ProfilePictureRegistration"
            android:exported="true" />
        <activity
            android:name=".registration.email.EmailRegistration"
            android:exported="true" />
        <activity
            android:name=".registration.Registration"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>